<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<link rel = 'import' href = '../../bower_components/polymer/polymer.html'>
<link rel = "import" href = "../../bower_components/paper-spinner/paper-spinner.html">
<link rel = "import" href = "../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="mod-login">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    
    <div class="container">

      <div class="row justify-content-center align-content-center">

        <div class="form-group" style="width: 240px;">
          <img class="w-100" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Escudo_Real_madrid_1931.png" />
          </br>
          </br>
          <label class="w-100" for="input1">User</label>
          <input class="w-100" id="input1" type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
          </br>
          </br>

          <label class="w-100" for="input2">Password</label>
          <input class="w-100" id="input2" type="text" placeholder="[[prop4]]" value="{{prop2::input}}">
          </br>
          </br>

          <center>
          <paper-spinner active hidden$="{{hideLoading}}"></paper-spinner>
          </center>

          <button class="w-100 btn btn-danger" on-click="acceder">Login</button>
        </div>      
      </div>  

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModLogin extends Polymer.Element {
      static get is() { return 'mod-login'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: String
          },
          prop3: {
            type: String,
            value: 'Enter username'
          },
          prop4: {
            type: String,
            value: 'Enter password'
          },
          hideLoading: {
            type: Boolean,
            value: true
          }
        };
      }
      acceder()
      {
        console.log(this.prop1);
        console.log(this.prop2);

        if (this.prop1 == undefined || this.prop1 == '' || this.prop2 == undefined || this.prop2 == '') {
          alert('Please enter user and password');
        }
        else {
          var request = new XMLHttpRequest();
          request.open("POST", "http://localhost:2000/login", true);
          request.setRequestHeader("Accept", "application/json");
          request.setRequestHeader("Content-Type", "application/json");
          var data = {"nombre":this.prop1,"password":this.prop2};
          var body = JSON.stringify(data);

          var that = this;
          this.hideLoading = false;

          request.onload = function (e) {
            if (request.readyState === 4) {
              if (request.status === 200) {
                that.client = JSON.parse(request.responseText);
                console.log(that.client);
                that.hideLoading = true;

                if (that.client.length == 0) {
                  alert('Invalid username/password');
                }
                else {
                  alert('Welcome ' + that.client[0].nombre);
                }
              } else {
                console.error(request.statusText);
                that.hideLoading = true;
                alert('Connection error')
              }
            }
          };
          request.onerror = function (e) {
            console.error(request.statusText);
            that.hideLoading = true;
            alert('Connection error')
          };

          request.send(body);
        }
      }
    }

    window.customElements.define(ModLogin.is, ModLogin);
  </script>
</dom-module>
