<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html" />

<link rel = 'import' href = '../../bower_components/polymer/polymer.html'>
<link rel = "import" href = "../../bower_components/paper-spinner/paper-spinner.html">
<link rel = "import" href = "../../bower_components/paper-spinner/paper-spinner-lite.html">

<dom-module id="mod-transactions">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
      }
    </style>
    <div class="container">

      <div class="row">
        <h1 class="col-lg-12">Movimientos</h1>

        <button on-click="getTransactions">Get transactions</button>

        <paper-spinner active hidden$="{{hideLoading}}"></paper-spinner>

        <table hidden$="{{noCargados}}">
          <thead>
          <tr>
             <th>idtransaction</th>
             <th>idcliente</th>
             <th>fecha</th>
             <th>importe</th>
             <th>tipo</th>
          </tr>
         </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
              <tr>
                <td>
                  [[item.idtransaction]]
                </td>
                <td>
                  [[item.idcliente]]
                </td>
                <td>
                  [[item.fecha]]
                </td>
                <td>
                  [[item.importe]]
                </td>
                <td>
                  [[item.tipo]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

    </div>
  </template>
  <script>

  class ModTransactions extends Polymer.Element {
    static get is() { return 'mod-transactions'; }
    static get properties() {
      return {
        movimientos: {
          type: Array,
          notify: true
        },
        noCargados: {
          type: Boolean,
          value: true
        }, 
        hideLoading: {
          type: Boolean,
          value: true
        }
      };
    }
    getTransactions() {
      var request = new XMLHttpRequest();
      request.open("GET", "http://localhost:2000/transactions/1", true);
      request.setRequestHeader("Accept", "application/json");

      var that = this;
      this.hideLoading = false;

      request.onload = function (e) {
        if (request.readyState === 4) {
          if (request.status === 200) {
            that.movimientos = JSON.parse(request.responseText);
            console.log(that.movimientos);
            that.noCargados = false;
            that.hideLoading = true;
          } else {
            console.error(request.statusText);
            that.noCargados = true;
            that.hideLoading = true;
          }
        }
      };
      request.onerror = function (e) {
        console.error(request.statusText);
        that.hideLoading = true;
      };

      request.send();
    }
    addTransaction() {
      // var request = new XMLHttpRequest();
      // request.open("POST", "http://localhost:2000/transactions", false);
      // request.setRequestHeader("Accept", "application/json");
      // request.setRequestHeader("Content-Type", "application/json");
      // var nuevoCliente = {"idtransaction":8,"idcliente":1,"importe":"9.95","fecha":"09-05-2017","tipo":"A"};
      // var body = JSON.stringify(nuevoCliente);
      // request.send(body);
      // this.respuesta = request.responseText;
      // console.log(this.respuesta);
      // this.noCargados = false;
    }
  }
  window.customElements.define(ModTransactions.is, ModTransactions);
  </script>
</dom-module>
